.form-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.form-container h2 {
    margin-top: 0;
    font-size: 24px;
    color: #333;
}

.form-group {
    margin-bottom: 15px;
    width: 300px;
}

.form-group label {
    display: block;
    font-size: 14px;
    color: #333;
    margin-bottom: 5px;
}

.form-group input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

.form-group input.error {
    border: 2px solid red;
    background-color: #ffe6e6; /* Fondo rojo claro */
}

.ayuda {
    font-size: 0.9em;
    color: #555;
    margin-top: 5px;
}

.ayuda-segura {
    color: green;
}

.ayuda-error {
    color: red;
}

.profile-icon {
    width: 100px;
    height: 100px;
    background-color: #2962ff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 50px;
    margin-bottom: 20px;
}

.btn-submit {
    background-color: #2962ff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.btn-submit:hover {
    background-color: #0039cb;
}